.buttonConnexion {
    margin-top: 20px;
    width: 100%;
    background-color: #027581;
    border: 1px solid silver;
    color: white;
    margin-bottom: 20px;
}

 .blockContenantLiconeUser {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
}

.buttonConnexion:hover {
    background-color: none;
    color: white;
}

.viewPassword {
    float: right;
    margin-top: -23px;
    color: black;
    margin-right: 10px;
}

.card-body{
    display:block;
    padding:25px;
    margin-top: 0px;
}

.card{
    border: 1px solid silver;
    box-shadow: 2px 2px 18px silver;
}
